* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 12px;
}

html {
  background-image: url("/assets/img/bg.jpg");
  background-size: cover;
}

body {
  background-color: rgba(255, 255, 255, 0.8);
}

img {
  max-width: 100%;
}

.container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

header {
  flex: 1;
}

main {
  flex: 6;
}

footer {
  flex: 1 100%;
}