@import './styles/00_utils/vars';
@import './styles/00_utils/animations';
@import './styles/00_utils/mixins';

@import './styles/01_base/b-normalize';
@import './styles/01_base/b-root';
@import './styles/01_base/b-typography';
@import './styles/01_base/b-grid';

@import './styles/02_atoms/a-icons';

@import './styles/03_molecules/m-banners';

@import './styles/04_organisms/o-header';
@import './styles/04_organisms/o-footer';

@import './styles/06_page/p-home';