.row {
  margin: 1rem auto;
  width: 80%;
  .row {
    margin: 0;
    width: 100%;
  }
}

%col {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}

.col-12 {
  @extend %col;
  width: 100%;
}

.col-10 {
  @extend %col;
  width: 83.3%;
}

.col-9 {
  @extend %col;
  width: 75%;
}

.col-6 {
  @extend %col;
  width: 40%;
}

.col-4 {
  @extend %col;
  width: 33.3%;
}

.col-3 {
  @extend %col;
  width: 25%;
}

.col-2 {
  @extend %col;
  width: 20%;
}
