* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 12px;
}

body {
  background-color: $white
}

img {
  max-width: 100%;
}

.container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100vh;
  -ms-box-orient: horizontal;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

main, header {
  font-family: $sans-serif;
  flex: 1 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
