h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 600;
    font-size: 5rem;
    padding: 1rem;
    margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  padding: 1rem;
  margin: 0;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: #61725B;
    }
}
