$nav-height: 5rem;
$nav-padding: 1rem;

header {
  font-family: $sans-serif;
  padding: $nav-padding 0;
  font-size: 1.5rem;

  h1 {
    text-align: left;
  }

  .flex-item {
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-size: 2rem;
    padding: 2rem 0;
  }

  a {
    flex-direction: column;
    color: $black;
    line-height: $nav-height - ($nav-padding * 2);
    @include link($black);
  }

  strong {
    display: block;
  }

}
