$nav-height: 5rem;
$nav-padding: 1rem;

header {
  font-family: $serif;
  padding: $nav-padding 0;

  h1 {
    font-size: 1.5rem;
  }

  a {
    color: $black;
    line-height: $nav-height - ($nav-padding * 2);
    margin: 0 1rem;
    font-size: 1.5rem;
    @include link($black);
  }

  nav {
    text-align: right;
  }

}